{% extends "base.html" %}

{% load static %}

{% block meta_title %}Avagen - Where Your Digital Self Begins | Digitally Crafted Avatar Collection{% endblock %}

{% block meta_description %}Discover your perfect digital identity at Avagen. Shop our curated collection of digitally crafted avatars for gamers, designers, and digital explorers. Find your avatar to define your presence across gaming, social media and virtual worlds.{% endblock %}

{% block meta_keywords %}digital identity, gaming avatars, profile pictures, virtual worlds, social media avatars, designer avatars, digitally crafted avatars, custom avatars, personalized avatars, avatar design, digital portraits, online avatars, gaming profile pictures, social media profile pictures, virtual world avatars, digital character design, avatar marketplace, premium digital art, unique avatars, creative avatars, artistic avatars, modern avatars, trendy avatars, avatar collection, virtual self, online persona, digital art marketplace, avatar shop, buy avatars, sell avatars{% endblock %}

{% block og_title %}Avagen - Where Your Digital Self Begins{% endblock %}

{% block og_description %}Discover your perfect digital identity at Avagen. Shop our curated collection of digitally crafted avatars for gamers, designers, and digital explorers.{% endblock %}

{% block twitter_title %}Avagen - Where Your Digital Self Begins{% endblock %}

{% block twitter_description %}Discover your perfect digital identity at Avagen. Shop our curated collection of digitally crafted avatars for gamers, designers, and digital explorers.{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    Avagen - Where your digital self begins.
                    A creative concept store for designers, gamers and explorers of digital realms. Find your avatar to define your presence across gaming, social media and virtual worlds.
                </h1>
                <p class="display-4 logo-font text-white text-uppercase mt-4">
                    Design your persona on Avagen.
                </p>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg btn-rounded text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}