<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="all-avatars-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Avatars
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-avatars-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Avatars</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="sector-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sector
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="sector-link">
                <a href="{% url 'products' %}?category=professional" class="dropdown-item">Professional</a>
                <a href="{% url 'products' %}?category=social" class="dropdown-item">Social</a>
                <a href="{% url 'products' %}?category=formal" class="dropdown-item">Formal Events</a>
                <a href="{% url 'products' %}?category=sports" class="dropdown-item">Sports</a>
                <a href="{% url 'products' %}?category=sports" class="dropdown-item">Games</a>

            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black mr-5" href="#" id="avatar-themes-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Avatar Themes
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="avatar-themes-link">
                <a href="{% url 'products' %}?category=personalized" class="dropdown-item">Personalized</a>
                <a href="{% url 'products' %}?category=themed" class="dropdown-item">Artistic</a>
                <a href="{% url 'products' %}?category=seasonal" class="dropdown-item">Seasonal</a>
                <a href="{% url 'products' %}?category=special_events" class="dropdown-item">Special Events</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=box_sets" class="dropdown-item">Box Sets</a>
                <a href="{% url 'products' %}?category=sales" class="dropdown-item">Sales</a>
                <a href="{% url 'products' %}?category=contact" class="dropdown-item">Contact Us</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font nav-link text-black mr-5 font-weight-bold" id="faq-link" href="">FAQ</a>
        </li>
    </ul>
</div>

<!-- Custom dropdown for creator-specific or "New Releases" categories -->
<span class="nav-item dropdown">
    <a class="logo-font font-weight-bold nav-link text-black" href="#" id="category-creator-link"
       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        New Releases
    </a>
    <div class="dropdown-menu border-0" aria-labelledby="category-creator-link">
        {% for category in categories %}
            <a href="{% url 'products' %}?category={{ category.name }}" class="dropdown-item">
                {{ category.get_friendly_name|default:category.name }}
            </a>
        {% endfor %}
    </div>
</span>
