{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center mt-5">
                <h2 class="logo-font">Products</h2>
            </div>
        </div>
        
        <div class="row">
            <!-- Sidebar - Takes up 3 columns on medium+ screens, full width on mobile -->
            <div class="col-12 col-md-3 mb-3">
                <div class="card shadow-sm">
                    <div class="card-header bg-white font-weight-bold">
                        Categories
                    </div>
                    <div class="list-group list-group-flush">
                        {% for category in categories %}
                            <a href="{% url 'products' %}?category={{ category.name }}"
                               class="list-group-item list-group-item-action {% if category in current_categories %}active{% endif %}">
                                {{ category.get_friendly_name|default:category.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="product-container col-12 col-md-9">
                <div class="row align-items-center justify-content-end mb-4">
                    <div class="col-auto">
                        <label for="sort-options" class="mr-2 font-weight-medium text-muted">Sort:</label>
                    </div>
                    <div class="col-auto">
                        <select id="sort-options" class="form-control form-control-sm border rounded shadow-sm">
                            <option value="" {% if current_sorting == 'None_None' %}selected{% endif %}>Select option</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Lowest price</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Highest price</option>
                            <option value="rating_high" {% if current_sorting == 'rating_high' %}selected{% endif %}>Top rated</option>
                            <option value="rating_low" {% if current_sorting == 'rating_low' %}selected{% endif %}>Lowest rated</option>
                            <option value="name_az" {% if current_sorting == 'name_az' %}selected{% endif %}>A to Z</option>
                            <option value="name_za" {% if current_sorting == 'name_za' %}selected{% endif %}>Z to A</option>
                        </select>
                    </div>
                </div>

                <div class="col-12 col-md-6 order-md-first">
                    <p class="text-muted mt-3 text-center text-md-left">
                        {% if search_term or current_categories or current_sorting != 'None_None' %}
                            <span class="small"><a href="{% url 'products' %}" class="products-home-link">Products Home</a> | </span>
                        {% endif %}
                        {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                    </p>
                </div>

                <div class="row">
                    {% for product in products %}
                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" id="product-{{ product.id }}">
                            <div class="card h-100 border-0">
                                {% if product.image_url %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image_url }}" alt="{{ product.name }}">
                                    </a>
                                {% elif product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.webp" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                                <div class="card-body pb-0">
                                    <p class="mb-0">{{ product.name }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="lead mb-0 text-left font-weight-bold">
                                                From £{{ product.from_price }}
                                            </p>

                                            {% if product.category %}
                                            <p class="small mt-1 mb-0">
                                                <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                                                <i class="fa-solid fa-shop"></i> {{ product.category.friendly_name }}
                                                </a>
                                            </p>
                                            {% endif %}
                                            {# Show average rating as stars and number #}
                                            {% with avg=average_ratings.product.id %}
                                                {% if avg %}
                                                    <span class="text-warning">
                                                        {% for i in "12345" %}
                                                            {% if forloop.counter <= avg|floatformat:0 %}
                                                                <i class="fas fa-star"></i>
                                                            {% else %}
                                                                <i class="far fa-star"></i>
                                                            {% endif %}
                                                        {% endfor %}
                                                        <span class="ml-1">{{ avg|floatformat:1 }} / 5</span>
                                                    </span>
                                                {% else %}
                                                    <span class="text-muted">No Rating</span>
                                                {% endif %}
                                            {% endwith %}
                                            {# Show latest review with matching stars #}
                                            {% if product.reviews.all|length > 0 %}
                                                {% with review=product.reviews.all.0 %}
                                                    <div class="border p-2 mt-2">
                                                        <span class="text-warning">
                                                            {% for i in "12345" %}
                                                                {% if forloop.counter <= review.rating %}
                                                                    <i class="fas fa-star"></i>
                                                                {% else %}
                                                                    <i class="far fa-star"></i>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </span>
                                                    </div>
                                                {% endwith %}
                                            {% endif %}
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 mb-5"><hr></div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="btt-button shadow-sm rounded-0 border border-black">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
        </a>    
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'js/product_sort.js' %}"></script>
    <script src="{% static 'js/sort.js' %}"></script>
{% endblock %}
